body {
  padding: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#message-area {
  height: 500px;
  background: #393939;
  padding: 20px;
  color: #fff;
  overflow: auto;
  font-size: 11pt;
}
p {
  margin: 5px 0;
}